*{
    margin: 0px;
    padding: 0;
}

.all{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btnes{
    background-color: transparent;
    border: none;
    margin-bottom: 30px;
}

.btn{
    margin-bottom: 60px;
}

.logo{
    justify-content: center;
    align-items: center;
    display: flex;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    background-color: #FFD9E6;
    width: 380px;
    border-radius: 30px;
}

.inicioTexto{
    justify-content: center;
    margin: 40px;
    font-size: 17px;
}

.modalHidden{
    display: none;
    color: black;
    background-color: #FFB5B5;
    justify-content: center;
    justify-items: center;
    width: 90vw;
    height: 60%;
    position: fixed;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: auto;
    top: 200px;
    margin-top: 10%;
    border-radius: 30px;
    opacity: 0.9;
}

.tokicuatroaaa{
    margin: 20px;
    font-size: 20px;
}

